/* ------------------------------------ */
/*	Site : Antoine Perrot				*/
/*	URL : www.antoineperrot.net			*/
/*	Auteur : christophe le drean		*/
/*	Date :								*/
/*	Version : 2							*/
/* ------------------------------------ */

/* ------------------------------------ */
/*  Table des matières					*/
/* ------------------------------------ */
/*
	- Structure des pages

*/
/* ------------------------------------ */
/*  Reset                               */
/* ------------------------------------ */
/*  http://meyerweb.com/eric/thoughts/
    2007/05/01/reset-reloaded/          */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0;
	border: 0; outline: 0;
	font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;
	vertical-align: baseline; }

/* remember to define focus styles! */
:focus {  }

body {
	color: black;
	background: white; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0; }

caption, th, td {
	text-align: left;
	font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }


/* ------------------------------------ */
/*  Réglage des float                   */
/* ------------------------------------ */
/*	voir : 
	http://www.positioniseverything.net/easyclearing.html 
	+ modif http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack
*/

.clearfix:after { visibility: hidden; clear: both; display: block; height: 0; font-size: 0; content: " "; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/* ------------------------------------ */
/*  Grille de mise en page				*/
/*	activable via jquery				*/
/* ------------------------------------ */
.grille { background: url('../img/960_grid_16_col.png') repeat-y 0 0; }


/* ------------------------------------ */
/*  Structure des pages					*/
/* ------------------------------------ */
body { position: relative; padding-top: 36px; }
	#page {  }
		#entete { position: fixed; }
		#nav { position: fixed; top:108px; z-index:0; }
		#conteneur {
			position: relative;
			margin-left:280px; margin-bottom: 2em;
			width: 700px; }
			#conteneur #contenu { 
				position:relative; z-index:20;
				float: left;
				xmargin-bottom: 1.5em;
				width: 700px; }
			.page_sommaire #conteneur #contenu { 
				padding: 0;
				width: 700px; }
			#conteneur #navigation { 
				position:absolute; top: -2em; z-index:0;
				width: 700px; }
			#conteneur #hierarchie { 
				clear: both;
				padding: 1.5em 10px 0 5px; }
			#pied {
				position: relative;
				text-align:center;
				margin-left:280px; margin-bottom: 3em;
				width: 700px;
				z-index: 20; }

/* ------------------------------------ */
/*  mise en page : principes généraux	*/
/* ------------------------------------ */

.item, 
#slider,
.rubrique_oeuvres .panneau,
#hierarchie { border-top: 1px solid #000; background-color: rgba(253,253,253,0.95); }

.section {  }
	.section h2.titre { margin-left: 5px; margin-bottom: 1em; }

.page_article .item { padding-bottom: 1.5em; }

.page_site .item { margin-bottom: 1.5em; }


/* ------------------------------------ */
/*  Typographie					*/
/* ------------------------------------ */
html { font-size: 100.01%; /* pour IE */ }

body { 
	font:  75%/1.5 "HelveticaNeue","Helvetica Neue", "Helvetica", Arial, sans-serif;
	color: #333; }

h1,h2,h3,h4,h5,h6,
.titre p.surtitre { 
	font-family: "HelveticaNeue-Light", "Helvetica Neue";
	font-weight: 200; /* equivalent du light pour Firefox */
	text-rendering: optimizeLegibility; }

.texte p i,
.texte p q,
.texte blockquote, .texte blockquote:before,
#hierarchie p strong {
	font-family: "HelveticaNeue-Italic", "Helvetica Neue";
	font-style: italic; font-weight: 400; }

.texte blockquote p i {
	font-family: "HelveticaNeue", "Helvetica Neue";
	font-style: normal;
}

.item div.titre h2,
h3.titre, 
.documents dd h3,
.spip_documents dd h3 { 
	font-family: "HelveticaNeue-LightItalic", "Helvetica Neue"; 
	font-weight: 200; font-style:italic; }
	
.texte p strong,
.entry-content .infos,
.vevent .summary,
.label,
.item .chapo,
table.spip caption,
table.spip th { font-family:"HelveticaNeue-Medium", "Helvetica Neue"; font-weight: 500; }

.texte a, 
.item .hyperlien a,
#hierarchie a {
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue";
	font-weight: 800;
}

.contenu-principal p { font-size: 13px; margin-bottom: 1.5em; }


/* ------------------------------------ */
/*  Liens (règles générales)			*/
/* ------------------------------------ */
a { color: #000; text-decoration: none; }
a:visited {  }
a:hover {  }
a:active, a:focus { position: relative; top: 1px; outline: thin dotted; }
a:active { outline: none; }


/* ------------------------------------ */
/*  Liens (règles spécifique)			*/
/* ------------------------------------ */
.section .titre a,
.item a,
#hierarchie a { 
	padding: 0 2px 2px;
	color:#000;
	transition: color .6s ease-out, background-color .6s ease-out;
	-webkit-transition: color .6s ease-out, background-color .6s ease-out;
	-o-transititon: color .6s ease-out, background-color .6s ease-out;
	-moz-transition: color .6s ease-out, background-color .6s ease-out;; }
.section h3.titre a { padding: 0px 1px 2px; }

a.spip_out, a.spip_glossaire {
	padding-right: 14px;
	background: url('../img/spip-out.png') no-repeat 100% 2px; }

.section .titre a:hover,
.item a:hover,
#hierarchie a:hover { color:#fff; background-color: #000; }

.item a.spip_out:hover, .item a.spip_glossaire:hover { background-position: 100% -17px; }


/* ------------------------------------ */
/*  Entete								*/
/* ------------------------------------ */
#entete { margin-left: 40px; margin-bottom: 36px; }
	#entete #logo { font-size: 30px; line-height: 36px; }
		#entete #logo a { color:#000; }


/* ------------------------------------ */
/*	Navigation principale				*/
/* ------------------------------------ */
#nav { width: 100%; }
	#nav ul {  }
		#nav li { 
			font-size:16px; line-height: 18px;
			margin-bottom: 9px; }
			#nav li a {
				display: block;
				padding: 4px 0 5px 40px;
				width: 220px;
				/* 	CSS 3 transitions
				 	non disponibles dans FF3,
					on laisse entre commentaires et on utilise jQuery */
				transition: padding-left .6s ease-out;
				-webkit-transition: padding-left .6s ease-out;
				-o-transition: padding-left .6s ease-out;
				-moz-transition: padding-left .6s ease-out; }
			#nav li a:hover { padding-left: 30px; }
			#nav li a.ff3:hover { padding-left: 40px; }


/* ------------------------------------ */
/*	Slider (sommaire)					*/
/* ------------------------------------ */
#slider {
	position: relative;
	width: 700px; }
	#slider h2.titre {
		font-size: 20px; line-height: 1em;
		margin-bottom:1em; margin-top: .5em; }
	#slider .navigation { 
		position:absolute; right: 10px; top: 18px;
		padding-right: 40px;
		z-index: 30; }
		#slider .navigation li { display: inline; }
			#slider .navigation li a { 
				text-indent: -9999px; outline:0;
				background: url('../img/img-sprites.png') no-repeat -32px -18px;
				height: 9px; width: 9px;
				float: left;
				margin-right: 4px; }
			#slider .navigation li a:hover { background-position: -32px -34px; }
			#slider .navigation li a.actif { background-position: -32px -2px; }
	.scroll {
		position: relative;
		overflow: auto; overflow-x: hidden;
		clear: left;
		width: 700px; }
		.scrollConteneur {}
		.scrollBouton { 
			display: block;
			background: #fff url('../img/img-sprites.png') no-repeat -48px 0;
			width: 17px; height: 17px;
			position: absolute; z-index:33; right: 10px; top: 14px;
			cursor:pointer; }
		.scrollBouton.gauche { right: 30px; background-position: -48px 0; }
		.scrollBouton.droite { background-position: -64px 0; }
		.scrollBouton.gauche:hover { background-position: -48px -16px; background-color: #000; }
		.scrollBouton.droite:hover { background-position: -64px -16px; background-color: #000; }


/* ------------------------------------ */
/*	Visualisation des oeuvres 			*/
/* ------------------------------------ */
.visuOeuvres {}
	.panneau {
		width: 680px;
		padding: 0 10px 20px 10px; }
	#slider .panneau { border-top-width: 0; background-color: transparent; }
		.visuOeuvres h3.titre { font-size:20px; margin-bottom:1.5em; }
		.oeuvreConteneur {}
			/* zone agrandissement */
			.imgAgrandissement { 
				float: left;
				width: 450px; text-align:center;
				position: relative;
				margin-bottom:20px; }
				.imgAgrandissement img { background-color: #fff; margin:0 auto; padding: 5px; }
				.imgAgrandissement .conteneurDesc { 
					text-align:left;
					width: 100%;
					position: absolute; left:0px; bottom:-16px; }
					.imgAgrandissement span.afficheInfos { 
						cursor: pointer;
						background: url('../img/img-sprites.png') no-repeat -18px -2px;
						border: 1px solid #fff;
						display:block;
						position: absolute; right:0; bottom: 0;
						width:12px; height:12px; }
					.imgAgrandissement span:hover { background-position: -2px -2px; }
					.imgAgrandissement .afficheInfos.actif { background-position: -2px -18px; }
					.imgAgrandissement .afficheInfos.actif:hover { background-position: -18px -18px; border-color:#000; }
					.imgAgrandissement .afficheInfos:active { bottom:-1px; }
					.imgAgrandissement .imgDesc { 
						color: #fff;
						background-color: rgba(0,0,0,0.85);
						padding: 3px 16px 3px 6px; }
						.imgAgrandissement .imgDesc h3 { font-size: 12px; margin-bottom: 9px; }
						.imgAgrandissement .imgDesc p { font-size: 10px; }
			/* zone aperçu */
			ul.imgApercu { 
				float: right; margin-top:5px;
				width: 210px; }
				.imgApercu li { float: left; }
				.imgApercu li {  }
					.imgApercu li a { display: block; padding:3px; margin: 0 7px 10px; }
					.imgApercu li a.actif, .imgApercu li a:hover { background-color: #000; }
					.imgApercu li .imgDesc { display: none; }
				.imgApercu li.lire-suite { 
					position: relative;
					border-top: 1px dotted #999;
					margin: 1em 7px 0;
					width: 196px; }
					.imgApercu li.lire-suite a { 
						position: absolute; right: 0; top: .5em;
						margin: 0; padding: 0; }

/* -------------------------------- */
/*	hentry	(styles communs)		*/
/* -------------------------------- */
.hentry, .sites .item, .oeuvres .item { margin-bottom: 1.5em; padding-bottom: 1.5em; }
.hentry.mineur, .sites .mineur { 
	border-top:1px solid #000;
	float: left;
	width: 340px; }
.hentry.mineur.numero-1, .sites .numero-1 { clear:left; }
.hentry.mineur.numero-0, .sites .numero-0 { margin-left:20px; }
	.hentry h2.titre { 
		/* titre de la rubrique parente */
		font-size:15px; }
	.hentry div.titre { margin: .5em 0 1em; }
		.hentry .entry-title, .sites .titre { font-size:18px; line-height: 1em; }
		.hentry.majeur .entry-title { font-size: 20px; }
		.hentry.item .entry-title, .hentry.item .entry-content, .sites .titre, .sites .introduction { margin-left: 5px; margin-right: 10px; }
		.hentry.item .entry-title, .sites .titre { margin-top: .5em; margin-bottom: 1em; }
	.hentry .info-publi {  }
	.hentry .auteurs {  }
	.hentry .entry-content {  }
	.hentry.item .entry-content p, .sites .introduction p { float: right; }
	.hentry.item .entry-content p { width: 450px; }
	.hentry.mineur .entry-content p, .sites .introduction p { width: 210px; }
		.entry-content .infos {  
			border-bottom:1px dotted #999;
			margin: 0; }
		.entry-content .intro { margin: 0 0 0.75em; }
		.entry-content .infos + .intro { margin: 0.75em 0 0.75em; }
		.entry-content ul.meta-publi, .sites .introduction ul.meta-publi { 
			float: right;
			margin-top: .75em; }
		.hentry.majeur .entry-content ul.meta-publi { width: 450px; }
		.hentry.mineur .entry-content ul.meta-publi, .sites .introduction ul.meta-publi { width: 210px; }
			.entry-content ul.meta-publi li, .sites .introduction ul.meta-publi li { 
				font-size:11px; line-height: 1.1em;
				float: left;
				display: inline;
				border-right: 1px solid #000;
				margin-right: 5px; padding-right: 5px; }
			.introduction ul.meta-publi li.info-publi { margin-left:0; }
			.introduction ul.meta-publi li.lire-suite { border-right-width: 0; }
				ul.meta-publi li.lire-suite a, .imgApercu li.lire-suite a { 
					text-indent: -9999px;
					background: #fff url(../img/img-sprites.png) no-repeat -16px -50px;
					display: block;
					outline:0;
					height: 12px; width: 16px; }
				ul.meta-publi li.lire-suite a:hover, .imgApercu li.lire-suite a:hover { background-position: -16px -66px; background-color: #000; }

.hentry img.spip_logos,
.sites .item img.spip_logos,
.item .texte p.logo img { 
	background-color: #fff;
	float:left;
	padding: 3px; }
	
	.hentry .entry-content img.spip_logos, 
	.sites .item img.spip_logos { margin-right:9px; }
	
	.sites .item img.spip_logos,
	.item .texte p.logo img { border: 1px solid #d7ccdd; border-color: #f3e6f9 #d4c8d8 #d4c8d8 #f3e6f9; }

/* -------------------------------- */
/*	agenda (vcalendar)				*/
/* -------------------------------- */
.vcalendar.float { float:left; }
.vevent { width: 450px; }
	.vevent .summary { 
		border-bottom:1px solid #666;
		font-size: 15px; }
	.vevent dt, .vevent dd { margin-left: 40px; }
	.vevent .dateEvenement {  }
	.vevent .locationEvenement {  }
	.vevent .dateEvenement, .locationEvenement {  }
	.vevent .infos { 
		border-bottom:1px dotted #666;
		margin: .25em 0; padding-left: 6em; padding-bottom: .25em; }
		.vevent .infos .label { 
			display: block; float: left; 
			width:6em; margin-left:-6em; }


/* -------------------------------- */
/*	rubrique						*/
/* -------------------------------- */
.page_rubrique .titre h2 { font-size: 28px; line-height:36px; margin-bottom: 1em; }


/* -------------------------------- */
/*	rubrique œuvres					*/
/* -------------------------------- */
.oeuvres { position: relative; }

/* menu de tri */
ul.optionsTri { position:absolute; right:0; top: -4.25em; z-index:99; }
	.optionsTri li { 
		float:left;
		padding-right: 10px; }
	.optionsTri li.dernier { padding-right:0; }
		.optionsTri li dl dt { 
			float: left;
			font-size:12px; line-height: 16px;
			color: #999;
			margin-right: 6px; }
		.optionsTri li dl dd { float: left; }
			.optionsTri li .dropdown {
				background: url('../img/icones.png') no-repeat right top;
				border: 1px solid #ccc;
				width: 12em; }
			.optionsTri li .dropdown.ouvert, .optionsTri li .dropdown:hover { 
				background-color: #444;
				background-position: right -16px;
				border-color: #000; }
				.optionsTri li .dropdown div { 
					font-size: 12px; line-height:16px;
					cursor:pointer;
					padding-left: 7px; }
				.optionsTri li .dropdown ul { display: none; }
					.optionsTri li .dropdown li {
						white-space: nowrap;
						float:none;
						border-top: 1px solid #726f6a;
						padding-left:7px; padding: .5em 0 .5em 7px; }
						.optionsTri li .dropdown.ouvert *, .optionsTri li .dropdown:hover * { color:#fff; }
						.optionsTri li .dropdown li a, .optionsTri li .dropdown li strong { 
							font-size: 12px; line-height:18px;
							display: block; }


/* -------------------------------- */
/*	article							*/
/* -------------------------------- */

.item .hentry { margin: 0; padding: 0; }
	.item .hentry > div, .item > div.titre { margin: 0 10px 0 5px; }
	
	.item .hentry .info-publi,
	.item .hentry .vcalendar,
	.item .hentry .chapo,
	.item .hentry .texte,
	.item .hentry p.hyperlien,
	.item .hentry .ps,
	.item .hentry .documents,
	.item .hentry .notes  { margin-bottom: 3em; }
	
	.item div.titre { margin-bottom: 1em; }
	.item div.titre h2 { font-size:28px; line-height: 36px; margin-top: 0; }
	
	.item p.logo { float:right; width: 220px; }
	
	.item .info-publi,
	.page_article .hentry .info-publi,
	.rubrique_biographie .hentry .info-publi { 
		color: #8c8b99;
		margin: 0 0 3em 480px; }
	
	.item .info-publi p { margin-bottom: 0; }
	
	.item .chapo.float { float: left; width: 450px; }
	
	.item .texte { clear: both; }
	
	.page_site .item .texte { padding-bottom: 1.5em; }
	
	.item .chapo p, 
	.item .texte p,
	.item .ps p,
	.item .notes p { padding-left: 40px; padding-right: 60px; }
	
	.item .texte p.logo { 
		float:left;
		padding: 0; margin: 0 20px 0 10px; }
	
	.item .texte p.logo a { display: block; }


/* -------------------------------- */
/*	documents (dans le portfolio)	*/
/* -------------------------------- */
.documents {  }
	.documents h3.spip { 
		border-bottom: 1px solid #666;
		float: left;
		margin-bottom: 1.5em; margin: 0 0 1.5em;
		width: 450px; }
	.documents dl { clear: left; margin-bottom: 3em; }
		.documents dl dt { float: left; }
		.documents dl dd {
			float: right;
			width: 210px; }
			.documents dd h3 { 
				font-size: 12px;
				text-indent: -16px;
				margin-top: 3px;
				padding-left: 16px;
				float: left;
				border-top: 1px solid #666; }
			.documents dd h3:before { content: url(../img/fleche-gauche.png); }
			.documents dd p.descriptif { 
				clear: left;
				font-size: 10px;
				margin-left: 16px; margin-bottom:0; }

/* -------------------------------- */
/*	documents joints				*/
/*	(style idem précédent			*/
/*	avec quelques différences)		*/
/* -------------------------------- */
.documents_joints dl dt { width:450px; }
	
	.documents_joints dl dt a { 
		background-color: #fff;
		width:450px; display: block; }
	.documents_joints dl dt a:hover { background-color: #000; }
		.documents_joints dl dt a img.spip_logos { float: none; background-color: transparent; }

.documents_joints dl dd p.descriptif span { color:#666; display: block; }



/* -------------------------------- */
/*	#navigation					*/
/* -------------------------------- */
#navigation {  }
	#navigation ul {
		position: relative; }
		#navigation li {
			position: absolute; right: 0;
			font-size: 12px; line-height:14px;
			float:left;
			display:inline; }
		#navigation li.back { right: auto; left: 0; }
		#navigation li.next {  }
			#navigation li div.info {
				color: #fff; background-color: #000;
				white-space: nowrap; margin-top:0;
				padding:1px 4px 3px;
				position:absolute; z-index: 0; }
			#navigation li.back div.info { margin-left:16px; }
			#navigation li.next div.info {  }
			#navigation li a {
				text-indent: -99999px;
				background: #fff url('../img/img-sprites.png') no-repeat 0 0;
				outline: 0;
				display: block; float: left;
				height: 18px; width:16px; }
			#navigation li.back a { background-position: 0 -48px; }
			#navigation li.next a { background-position: -16px -48px; right:0; }
			#navigation li.back a:hover { background-position: 0 -64px; background-color: #000; }
			#navigation li.next a:hover { background-position: -16px -64px; background-color: #000; }


/* -------------------------------- */
/*	hierarchie						*/
/* -------------------------------- */
#hierarchie { xborder-top-width: 2px; }
	#hierarchie p { 
		color:#999;
		padding-bottom: 1.5em; }
		#hierarchie strong {  }

/* -------------------------------- */
/*	pied de page					*/
/* -------------------------------- */
#pied {  }
#pied ul li { display: inline; float:left; }

