/* ------------------------------------ */
/*	Site : Antoine Perrot				*/
/*	URL : www.antoineperrot.net			*/
/*	Auteur : christophe le drean		*/
/*	Date :								*/
/*	Version : 2							*/
/* ------------------------------------ */

/* ------------------------------------ */
/*  Table des matières					*/
/* ------------------------------------ */
/*
	- Structure des pages

*/
/* ------------------------------------ */
/*  Reset                               */
/* ------------------------------------ */
/*  http://meyerweb.com/eric/thoughts/
    2007/05/01/reset-reloaded/          */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0;
	border: 0; outline: 0;
	font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;
	vertical-align: baseline; }

/* remember to define focus styles! */
:focus {  }

body {
	color: black;
	background: white; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0; }

caption, th, td {
	text-align: left;
	font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }


/* ------------------------------------ */
/*  Réglage des float                   */
/* ------------------------------------ */
/*	voir : 
	http://www.positioniseverything.net/easyclearing.html 
	+ modif http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack
*/

.clearfix:after { visibility: hidden; clear: both; display: block; height: 0; font-size: 0; content: " "; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/* ------------------------------------ */
/*  Grille de mise en page				*/
/*	activable via jquery				*/
/* ------------------------------------ */
.grille { background: url('../img/960_grid_16_col.png') repeat-y 0 0; }


/* ------------------------------------ */
/*  Structure des pages					*/
/* ------------------------------------ */
body { position: relative; padding-top: 36px; }
	#page {  }
		#entete { position: fixed; }
		#nav { position: fixed; top:108px; z-index:0; }
		#conteneur {
			position: relative;
			margin-left:280px; margin-bottom: 2em;
			width: 700px; }
			#conteneur #contenu { 
				float: left; 
				xpadding: 0 10px;
				width: 700px; }
			.page_sommaire #conteneur #contenu { 
				padding: 0;
				width: 700px; }
			#conteneur #navigation { 
				position:absolute; top: -2em;
				width: 700px; }
			#pied {
				position: relative;
				text-align:center;
				margin-left:280px; margin-bottom: 3em;
				width: 700px;
				z-index: 20; }

/* ------------------------------------ */
/*  mise en page : principes généraux	*/
/* ------------------------------------ */
.contenu-principal,
.page_sommaire .item { background-color: rgba(253,253,253,0.95); }

.contenu-principal { 
	border-top: 1px solid #000;
	xpadding: 0 10px; }


/* ------------------------------------ */
/*  Typographie					*/
/* ------------------------------------ */
html { font-size: 100.01%; /* pour IE */ }
body { font:  75%/1.5 "HelveticaNeue-Light", "Helvetica Neue", Arial, sans-serif; color: #3e0000; }
h1,h2,h3,h4,h5,h6 { text-rendering: optimizeLegibility; }
.contenu-principal p { font-size: 13px; margin-bottom: 1.5em; }


/* ------------------------------------ */
/*  Liens				*/
/* ------------------------------------ */
a { text-decoration: none; }
a:visited {  }
a:hover {  }
a:active, a:focus { position: relative; top: 1px; outline: thin dotted; }
a:active { outline: none; }


/* ------------------------------------ */
/*  Entete								*/
/* ------------------------------------ */
#entete { margin-left: 40px; margin-bottom: 36px; }
	#entete #logo { font-size: 30px; line-height: 36px; }
		#entete #logo a { color:#000; }


/* ------------------------------------ */
/*	Navigation principale				*/
/* ------------------------------------ */
#nav { width: 100%; xdisplay:none; }
	#nav ul {  }
		#nav li { 
			font-size:16px; line-height: 18px;
			margin-bottom: 9px; }
			#nav li a {
				display: block;
				padding: 4px 0 5px 40px;
				width: 220px;
				/* 	CSS 3 transitions
				 	non disponibles dans FF3,
					on laisse entre commentaires et on utilise jQuery */
				transition: padding-left .6s ease-out;
				-webkit-transition: padding-left .6s ease-out;
				-o-transition: padding-left .6s ease-out;
				-moz-transition: padding-left .6s ease-out; }
			#nav li a:hover { padding-left: 30px; }
			#nav li a.ff3:hover { padding-left: 40px; }


.section { margin-bottom:3em; }
	.section .titre {  }
	.section h2.titre {
		margin-bottom:1em; }
	.section h3.titre {  }
		.section .titre a { 
			color:#000;
			transition: color .6s ease-out, background-color .6s ease-out;
			-webkit-transition: color .6s ease-out, background-color .6s ease-out;
			-o-transititon: color .6s ease-out, background-color .6s ease-out;
			-moz-transition: color .6s ease-out, background-color .6s ease-out;; }
		.section h3.titre a {
			font-weight:bold;
			padding: 0px 1px 2px; }
		.section .titre a:hover { color:#fff; background-color: #000; }
.item { margin-bottom: 3em; }

.invisible { display:none; }

/* ------------------------------------ */
/*	Slider (sommaire)					*/
/* ------------------------------------ */
#slider {
	position: relative;
	width: 700px; }
	#slider h2.titre {
		font-size: 20px; line-height: 1em;
		margin-bottom:1em; }
	#slider .navigation { 
		position:absolute; right: 10px; top: 9px;
		padding-right: 40px;
		z-index: 30; }
		#slider .navigation li { display: inline; }
			#slider .navigation li a { 
				text-indent: -9999px; outline:0;
				background: url('../img/img-sprites.png') no-repeat -32px -18px;
				height: 9px; width: 9px;
				float: left;
				margin-right: 4px; }
			#slider .navigation li a:hover { background-position: -32px -34px; }
			#slider .navigation li a.actif { background-position: -32px -2px; }
	.scroll {
		position: relative;
		overflow: auto;
		overflow-x: hidden;
		clear: left;
		width: 700px; }
		.scrollConteneur {}
		.scrollBouton { 
			display: block;
			background: #fff url('../img/img-sprites.png') no-repeat -48px 0;
			width: 17px; height: 17px;
			position: absolute; z-index:33; right: 10px; top: 5px;
			cursor:pointer; }
		.scrollBouton.gauche { right: 30px; background-position: -48px 0; }
		.scrollBouton.droite { background-position: -64px 0; }
		.scrollBouton.gauche:hover { background-position: -48px -16px; background-color: #000; }
		.scrollBouton.droite:hover { background-position: -64px -16px; background-color: #000; }


/* ------------------------------------ */
/*	Visualisation des oeuvres 			*/
/* ------------------------------------ */
.visuOeuvres {}
	.panneau {
		width: 680px;
		padding: 0 10px 20px 10px; }
		.visuOeuvres h3.titre { font-size:20px; font-style: italic; margin-bottom:1.5em; }
		.oeuvreConteneur {}
			/* zone agrandissement */
			.imgAgrandissement { 
				float: left;
				width: 450px; text-align:center;
				position: relative;
				margin-bottom:20px; }
				.imgAgrandissement img { background-color: #fff; margin:0 auto; padding: 5px; }
				.imgAgrandissement .conteneurDesc { 
					text-align:left;
					width: 100%;
					position: absolute; left:0px; bottom:-16px; }
					.imgAgrandissement span.afficheInfos { 
						cursor: pointer;
						background: url('../img/img-sprites.png') no-repeat -18px -2px;
						border: 1px solid #fff;
						display:block;
						position: absolute; right:0; bottom: 0;
						width:12px; height:12px; }
					.imgAgrandissement span:hover { background-position: -2px -2px; }
					.imgAgrandissement .afficheInfos.actif { background-position: -2px -18px; }
					.imgAgrandissement .afficheInfos.actif:hover { background-position: -18px -18px; border-color:#000; }
					.imgAgrandissement .afficheInfos:active { bottom:-1px; }
					.imgAgrandissement .imgDesc { 
						color: #fff;
						background-color: rgba(0,0,0,0.85);
						padding: 3px 16px 3px 6px; }
						.imgAgrandissement .imgDesc h3 { font-size: 12px; margin-bottom: 9px; }
						.imgAgrandissement .imgDesc p { font-size: 10px; }
			/* zone aperçu */
			ul.imgApercu { 
				float: right; margin-top:5px;
				width: 180px; }
				.imgApercu li { float: left; }
				.imgApercu li {}
					.imgApercu li a { display: block; padding:3px; margin: 0 7px 10px; }
					.imgApercu li a.actif, .imgApercu li a:hover { background-color: #000; }
					.imgApercu li .imgDesc { display: none; }

/* -------------------------------- */
/*	hentry	(styles communs)		*/
/* -------------------------------- */
.hentry {  }
.hentry.mineur { 
	border-top:1px solid #000;
	float: left;
	margin-bottom: 3em;
	width: 340px; }
.hentry.mineur.numero-1 { clear:left; }
.hentry.mineur.numero-0 { margin-left:20px; }
	.hentry h2.titre { 
		/* titre de la rubrique parente */
		font-size:15px; }
	.hentry .entry-title {  }
	.hentry .entry-title { 
		font-size:15px; line-height: 18px;
		margin: 0 0 1em 5px; }
	.hentry .info-publi {  }
	.hentry .auteurs {  }
	.hentry .entry-content { margin-bottom: 1.5em; padding: 0 10px 0 5px; }
	.hentry.mineur .entry-content p { 
		float: right;
		width: 210px; }
		.entry-content .infos { 
			font-weight: bold; 
			border-bottom:1px dotted #000;
			margin: 0; }
		.entry-content .intro { margin: 0 0 0.75em; }
		.entry-content .infos + .intro { margin: 0.75em 0 0.75em; }
		.entry-content ul.meta-publi { 
			float: right;
			margin-top: .75em;
			width: 210px; }
			.entry-content ul.meta-publi li { 
				font-size:10px; line-height: 1.1em;
				float: left;
				display: inline;
				border-right: 1px solid #000;
				margin-right: 5px; padding-right: 5px; }
			.entry-content ul.meta-publi li.info-publi { margin-left:0; }
			.entry-content ul.meta-publi li.lire-suite { border-right-width: 0; }
				.entry-content ul.meta-publi li.lire-suite a { 
					text-indent: -9999px;
					background: #fff url(../img/img-sprites.png) no-repeat 0 -34px;
					display: block;
					outline:0;
					height: 12px; width: 16px; }
				.entry-content ul.meta-publi li.lire-suite a:hover { background-position: -16px -34px; background-color: #000; }

.hentry img.spip_logos { 
	background-color: #fff;
	float:left;
	padding: 3px; }
	.hentry .entry-content img.spip_logos { margin-right:9px; }
		

/* -------------------------------- */
/*	agenda (vcalendar)				*/
/* -------------------------------- */
.vevent { width: 450px; margin-bottom: 1.5em; }
	.vevent .summary { 
		border-bottom:1px solid #000;
		font-weight: bold; font-size: 15px; }
	.vevent .dateEvenement {  }
	.vevent .locationEvenement {  }
	.vevent .dateEvenement, .locationEvenement {  }
	.vevent .infos { 
		border-bottom:1px dotted #000;
		margin: .75em 0; padding-left: 5em; }
		.vevent .infos .label { 
			font-weight:bold;
			display: block; float: left; width:5em; margin-left:-5em; }


/* -------------------------------- */
/*	article							*/
/* -------------------------------- */
.titre {  }
	.titre h2 { font-size:28px; line-height: 36px; margin-bottom: 1em; }
	.page_article .hentry .info-publi { 
		margin: 0 0 1.5em 470px; }
	.page_article .hentry .info-publi p { margin-bottom: 0; }
	.chapo {  }


/* -------------------------------- */
/*	documents (portfolio)			*/
/* -------------------------------- */
.documents {  }
	.documents h2 { 
		font-size: 20px;
		border-bottom: 1px solid #000;
		float: left;
		margin-bottom: 1.5em;
		width: 450px; }
	.documents dl { clear: left; margin-bottom: 3em; }
		.documents dl dt { float: left; }
		.documents dl dd {
			float: right;
			width: 210px; }
			.documents dd h3 { 
				font-size: 12px; font-style: italic;
				text-indent: -15px;
				padding-left: 15px;
				margin-top: 3px;
				float: left;
				border-top: 1px solid #000; }
			.documents dd h3:before { content: "\2190\2003"; }
			.documents dd p.descriptif { 
				clear: left;
				font-size: 10px;
				margin-left: 14px; }

/* -------------------------------- */
/*	#navigation					*/
/* -------------------------------- */
#navigation {  }
	#navigation ul {
		position: relative; }
		#navigation li {
			position: absolute; right: 0;
			xtext-indent: -99999px;
			xheight: 16px; xwidth:16px;
			float:left;
			display:inline;
			xbackground: #fff url('../img/img-sprites.png') no-repeat 0 0; }
		#navigation li.back { right: auto; left: 0; }
		#navigation li.next {  }
			#navigation li a {
				text-indent: -99999px;
				background: #fff url('../img/img-sprites.png') no-repeat 0 0;
				outline: 0;
				display: block; float: left;
				height: 16px; width:16px; }
			#navigation li.back a { background-position: 0 -48px; }
			#navigation li.next a { background-position: right -48px; }
			#navigation li.back a:hover { background-position: 0 -64px; background-color: #000; }
			#navigation li.next a:hover { background-position: right -64px; background-color: #000; }

/* -------------------------------- */
/*	pied de page					*/
/* -------------------------------- */
#pied {  }
#pied ul li { display: inline; float:left; }