/* ------------------------------------ */
/*	Site : Antoine Perrot				*/
/*	URL : www.antoineperrot.net			*/
/*	Auteur : christophe le drean		*/
/*	Date :								*/
/*	Version : 2 						*/
/*	(styles pour IE 7 et inférieures)	*/
/* ------------------------------------ */

#entete { position: absolute; }
#nav { position: absolute; }

#navigation { left: 0; }
	#navigation ul { width: 720px; }
		#navigation li.back div.info { margin-left: 0; }
		#navigation li.next div.info { right: 16px; }