/*	Layout style cheet
	Updated:	2010-12-24
	Author:		christophe le drean / rouge-rose.net
	----------------------------------------------------*/
/*	=grille
	------------------------------------------------------ */
	.grille { background: url('../img/960_grid_16_col.png') repeat-y 0 0; }


/*	=Structure
	------------------------------------------------------ */
	#page {
		position: relative;
		margin-left: 270px; margin-top: 3em; }
		#entete { position: fixed; top:3em; left: 0; z-index: 0; }
		#nav { position: fixed; top:108px; left: 0; z-index: 0; }
		#conteneur {
			width: 720px;
			position: relative; z-index: 10; }
			#conteneur #contenu {  }
			#conteneur #navigation {
				position:absolute; top: -2em;
				width: 720px; }
			#conteneur #hierarchie { clear: both; }
			#conteneur #pied {  }
		#copyright {
			position: relative; z-index: 10;
			margin: .5em 0 0;
			width: 720px; }

/*	=Formats
	------------------------------------------------------ */
	.numero-0 { margin-right: 0; }

/*	=Entete
	------------------------------------------------------ */
	#entete { margin-left: 40px; float: left; }
		#entete #logo {
			font-size: 30px; line-height: 36px; color: #000;
			margin-bottom: 0; }
			#entete #logo a { color:#000; }

/*	=Navigation principale
	------------------------------------------------------ */
	#nav { width: 100%; }
		#nav ul {  }
			#nav li {
				font-size:16px; line-height: 18px;
				margin-bottom: 9px; }
				#nav li a {
					display: block;
					padding: 4px 0 5px 40px;
					width: 220px;
					/* 	CSS 3 transitions
					 	non disponibles dans FF3, on utilise donc jQuery
					 	pour ce navigateur */
					transition: padding-left .6s ease-out;
					-webkit-transition: padding-left .6s ease-out;
					-o-transition: padding-left .6s ease-out;
					-moz-transition: padding-left .6s ease-out; }
				#nav li.on a { padding-left: 20px; }
				#nav li.off a:hover { padding-left: 20px; }
				#nav li.off a.ff3:hover { padding-left: 40px; }
				#nav li a:active, #nav li a:focus { top: 0; }

/*	=Navigation secondaire (article, site)
	------------------------------------------------------ */
	#navigation {  }
		#navigation ul { position: relative; }
			#navigation li {
				position: absolute; right: 10px;
				font-size: 12px; line-height:14px;
				float:left;
				display:inline; }
			#navigation li.back { left: 0; }
			#navigation li.next { right: 0; }
				#navigation li div.info {
					color: #fff; background-color: #000;
					white-space: nowrap; margin-top:0;
					padding:1px 4px 3px;
					position:absolute; z-index:-10; }
				#navigation li.back div.info { margin-left:16px; }
				#navigation li.next div.info {  }
				#navigation li a {
					text-indent: -99999px;
					background: #fff url('../img/img-sprites.png') no-repeat 0 0;
					outline: 0;
					display: block; float: left;
					height: 18px; width:16px; }
				#navigation li.back a { background-position: 0 -80px; }
				#navigation li.next a { background-position: 0 -96px; }
				#navigation li.back a:hover { background-position: 0 -112px; background-color: #000; }
				#navigation li.next a:hover { background-position: 0 -128px; background-color: #000; }


/*	=Hierarchie
	------------------------------------------------------ */
	#hierarchie {background-color: #fff;
		padding: .5em 0;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000; }
		#hierarchie p { color:#888; margin: 0 10px; }

/*	=Pied de page
	------------------------------------------------------ */
	#pied { background-color: #fff;
		text-align: left;
		border-bottom: 2px solid #000; }
		#pied div.groupe { padding: 2em 10px;  }
		#pied .raccourcis dl { margin-bottom: 1.5em; }
		#pied .raccourcis dl {
			float: left;
			margin-right: 20px;
			width: 340px; }
			#pied dl.communication { float: right; margin-right: 0; }

				#pied dl dt { font-size: 14px; color: #000; margin-bottom: .5em; }
				#pied dl.derniers dt.expos { margin-top: 1.5em; }
				#pied dl dd { text-align: left; }
	#copyright p {
		color: #888;
		font-size: 9px;
		text-align: right; }

/*	=Page sommaire
	------------------------------------------------------ */
	.page_sommaire #page { margin-top: 6em; }


/*	=Article et Site
	------------------------------------------------------ */
	.section { margin-bottom: 1.5em; padding: 0 10px 1em; }


