/*	Theme style sheet
	Updated:	2010-12-24
	Author:		christophe le drean / rouge-rose.net
	----------------------------------------------------*/

#conteneur {
	background-color: #fff;
	box-shadow: 1px 1px 3px #888;
	-moz-box-shadow: 1px 1px 3px #888;
	-webkit-box-shadow: 1px 1px 3px #888; }